<div class="app-init">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container-fluid h-100">
            <div class="row h-100">
    
                <!-- Panel izquierdo -->
                <div class="col-lg-3 col-md-4 col-sm-12 p-5 bg-dark text-light d-flex flex-column justify-content-center align-items-center">
                    <div class="header2">
                        <h2>EcuSign</h2>
                    </div>
                    
                    <div class="menu-item" *ngIf="loggedIn" [routerLink]="['/crud_word']">
                        <img src="assets/icons/add_gif.png" alt="Agregar Gif"> Agregar Gif
                    </div>    
                    <div class="menu-item" *ngIf="loggedIn" [routerLink]="['/update_word']">           
                        <img src="assets/icons/update_gif.png" alt="Actualizar Gif"> Actualizar Gif
                    </div>
                    <div class="menu-item" *ngIf="loggedIn" [routerLink]="['/crud_database']">
                        <img src="assets/icons/database_config.png" alt="Configuración de la Base de Datos"> Configuración de Base de Datos
                    </div>  

                    <!-- Botón para Iniciar sesión -->
                    <button *ngIf="!loggedIn" (click)="openLoginDialog()">Iniciar sesión</button>

                    <!-- Botón para Desconectar -->
                    <button *ngIf="loggedIn" (click)="logout()">Desconectar</button>
                    
                    
                </div>
                
                <!-- Panel central (área de texto y botones) -->
                <div class="col-lg-5 col-md-6 col-sm-12 p-5">
                    <div class="header">
                        <h2>Trabajemos juntos por un mundo más inclusivo</h2>
                        <p>Traductor de texto a lenguaje de señas ecuatoriano.</p>
                    </div>
                    <textarea id="textInputArea" name="textInput" [(ngModel)]="textInput" placeholder="Ingrese el texto" [disabled]="translationInProgress"></textarea>

                    <!-- Control deslizante para ajustar la velocidad -->
                    <input type="range" min="0" max="7" [value]="speedValues.indexOf(slideSpeed)" (input)="onSlideSpeedChange($event)" class="slider">
                    <label>Velocidad: {{ slideSpeed }}</label>
                    <div class="action-buttons">
                        <button (click)="analyzeTextInput()" [disabled]="!textInput.trim().length" class="btn btn-primary">Analizar & Reproducir</button>
                        <button (click)="Reset()" class="btn btn-secondary">Detener</button>
                    </div>
                </div>
    
                <!-- Panel derecho (carrusel) -->                                    
                <div class="col-lg-4 col-md-4 col-sm-12 p-5">
                    <div class="video-display video-border">
                      <!-- Reproductor de video integrado aquí -->
                      <ng-container *ngIf="initialized && videos[currentVideoIndex]">
                        <div class="video-caption">
                          {{ getVideoName(videos[currentVideoIndex].url) }}
                        </div>
                        <video #videoPlayer (ended)="videoEnded()" [src]="videos[currentVideoIndex].url" [controls]="false" autoplay></video>
                      </ng-container>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
</div>
