<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Panel izquierdo -->
            <div class="col-md-6 p-5 bg-dark text-light d-flex flex-column justify-content-center align-items-center">
                <h2 class="my-4">EcuSign</h2>
                <img src="assets/icons/icons8_Sign_Language_100px.png" alt="EcuSign" class="img-fluid mb-4">
                <h4 class="my-4">Configuración de Base de Datos</h4>
            </div>
            
            <!-- Panel derecho -->
            <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
                <h2 class="text-dark mb-4">Establecer la configuración de la base de datos</h2>
                <form>
                    <div class="mb-3">
                        <label for="dbname" class="form-label"><img src="assets/icons/icons8_GIF_20px.png" alt="Ícono del Nombre de la Base de Datos"> Nombre de la Base de Datos</label>
                        <input type="text" class="form-control" id="dbname" [(ngModel)]="txt_dbname" name="dbname">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label"><img src="assets/icons/icons8_Dictionary_20px.png" alt="Ícono de Nombre de Usuario"> Nombre de Usuario de la Base de Datos</label>
                        <input type="text" class="form-control" id="username" [(ngModel)]="txt_username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label"><img src="assets/icons/icons8_Comments_20px.png" alt="Ícono de Contraseña"> Contraseña de la Base de Datos</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="txt_password" name="password">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" (click)="updateDatabaseConfig()">
                            <img src="assets/icons/icons8_Ok_20px.png" alt="Ícono Aceptar"> Aceptar
                        </button>
                        <button type="button" class="btn btn-warning" (click)="onCancelClick()">
                            <img src="assets/icons/icons8_Cancel_20px.png" alt="Ícono Cancelar"> Cancelar
                        </button>
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>
