/* Panel de fondo */
.bg-dark {
    background-color: rgb(54, 33, 89) !important;
}

/* Estilos de texto */
.text-light {
    color: rgb(204, 204, 204) !important;
}

.text-dark {
    color: rgb(54, 33, 89) !important;
}

/* Iconos y etiquetas */
.form-label img {
    margin-right: 10px;
}

/* Botón */
.btn-primary {
    background-color: rgb(54, 33, 89) !important;
    border-color: rgb(54, 33, 89) !important;
}

.btn-primary:hover {
    background-color: rgb(74, 53, 109) !important;
    border-color: rgb(74, 53, 109) !important;
}

/* Ajustar colores en pantallas pequeñas */
@media (max-width: 768px) {
    /* Cambiar el fondo a un tono más claro */
    .bg-dark {
        background-color: rgb(74, 53, 109) !important;
    }

    /* Cambiar el color del texto en pantalla pequeña */
    .text-light,
    .text-dark {
        color: rgb(255, 255, 255) !important;
    }

    /* Cambiar el color de fondo del botón en pantalla pequeña */
    .btn-primary,
    .btn-primary:hover {
        background-color: rgb(74, 53, 109) !important;
        border-color: rgb(74, 53, 109) !important;
    }
}
/* Panel de fondo */
.bg-dark {
    background-color: rgb(54, 33, 89) !important;
}

/* Estilos de texto */
.text-light {
    color: rgb(204, 204, 204) !important;
}

.text-dark {
    color: rgb(54, 33, 89) !important;
}

/* Iconos y etiquetas */
.form-label img {
    margin-right: 10px;
}

/* Botón */
.btn-primary {
    background-color: rgb(54, 33, 89) !important;
    border-color: rgb(54, 33, 89) !important;
}

.btn-primary:hover {
    background-color: rgb(74, 53, 109) !important;
    border-color: rgb(74, 53, 109) !important;
}

/* Ajustar colores en pantallas pequeñas */
@media (max-width: 768px) {
    /* Cambiar el fondo a un tono más claro */
    .bg-dark {
        background-color: rgb(74, 53, 109) !important;
    }

    /* Cambiar el color del texto en pantalla pequeña */
    .text-light,
    .text-dark {
        color: rgb(255, 255, 255) !important;
    }

    /* Cambiar el color de fondo del botón en pantalla pequeña */
    .btn-primary,
    .btn-primary:hover {
        background-color: rgb(74, 53, 109) !important;
        border-color: rgb(74, 53, 109) !important;
    }
}
