<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Panel izquierdo -->
            <div class="col-md-6 p-5 bg-dark text-light d-flex flex-column justify-content-center align-items-center">
                <h2 class="my-4">EcuSign</h2>
                <img src="assets/icons/icons8_Sign_Language_100px.png" alt="EcuSign" class="img-fluid mb-4">
                <h4 class="my-4">Configuración de Palabra</h4>
            </div>
            
            <!-- Panel derecho -->
            <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
                <h2 class="text-dark mb-4">Agregar una nueva palabra</h2>
                <form (ngSubmit)="addWord()">
                    <div class="mb-3">
                        <label for="palabra" class="form-label">Palabra</label>
                        <input type="text" class="form-control" id="palabra" [(ngModel)]="txt_wordname" name="palabra">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" [(ngModel)]="txt_description" name="descripcion">
                    </div>
                    <div class="mb-3">
                        <label for="video" class="form-label">Subir Video</label>
                        <input type="file" class="form-control" id="video" (change)="onFileSelected($event)" name="video" accept="video/webm">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <button type="button" class="btn btn-warning" (click)="onCancelClick()">
                            <img src="assets/icons/icons8_Cancel_20px.png" alt="Ícono Cancelar"> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
